@import 'mixin';

.header_link {
    color: #fff;

    @include pc-screen() {
        font-size: 35px;
    }
    @include sp-screen() {
        font-size: 10vw;
    }

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

header,
footer {
    background-color: #2c5282;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 0;
}

header {
    position: relative;

    .sns_icon_area {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include pc-screen() {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 15%;
        }
        @include sp-screen() {
            margin: 20px auto 0;
            width: 50%;
        }

        .sns_icon {
            width: 30px;
        }
    }
}

footer {
    p {
        margin: 0;
    }
}
