@import 'const';

@mixin max-screen($break-point) {
    @media screen and (max-width: $break-point) {
        @content;
    }
}

@mixin min-screen($break-point) {
    @media screen and (min-width: $break-point) {
        @content;
    }
}

@mixin screen($break-point-min, $break-point-max) {
    @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
        @content;
    }
}

@mixin pc-screen() {
    @include min-screen($breakpoint-tablet) {
        @content;
    }
}

@mixin tablet-screen() {
    $breakpoint-max: $breakpoint-tablet - 1;
    @include screen($breakpoint-sp, $breakpoint-max) {
        @content;
    }
}

@mixin sp-screen() {
    $breakpoint-max: $breakpoint-sp - 1;
    @include max-screen($breakpoint-max) {
        @content;
    }
}

@mixin minsp-screen() {
    $breakpoint-max: $breakpoint-minsp - 1;
    @include max-screen($breakpoint-max) {
        @content;
    }
}
