@import 'mixin';

.top_main_visual {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @include pc-screen() {
        padding-bottom: 50%;
    }
    @include sp-screen() {
        padding-bottom: 70%;
    }
}

.shop_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px auto;
    max-width: 90%;

    @include sp-screen() {
        padding: 0;
    }

    .shop_list_item {
        border: 1px solid #000;
        list-style: none;
        margin: 40px 4% 0 0;
        padding: 20px;
        position: relative;
        width: 30%;

        @include pc-screen() {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                margin-top: 0;
            }
        }
        @include sp-screen() {
            margin-right: 0;
            width: 100%;
        }
        &:first-child {
            @include sp-screen() {
                margin-top: 0;
            }
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        .shop_image_area {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            padding-bottom: 70%;
        }
        .shop_name {
            font-weight: bold;
            margin-top: 20px;

            @include pc-screen() {
                font-size: 32px;
            }
            @include sp-screen() {
                font-size: 8vw;
            }
        }

        .premium_badge,
        .first_appearance_badge {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0%;
            height: 0px;
            border-style: solid;
            border-width: 60px 60px 0 0;
        }
        .premium_badge {
            border-color: #fffb00 transparent transparent transparent;
        }
        .first_appearance_badge {
            border-color: #a0ff70 transparent transparent transparent;
        }
    }
}

.modal-body {
    .shop_list {
        margin: 0 auto;
        max-width: 100%;
        padding-left: 0;

        .shop_list_item {
            border: none;
            margin: 0;
            width: 100%;
        }
    }
}
