@charset "UTF-8";
/**
 * 全体で使うscss用変数
 */
.header_link {
  color: #fff;
}
@media screen and (min-width: 960px) {
  .header_link {
    font-size: 35px;
  }
}
@media screen and (max-width: 599px) {
  .header_link {
    font-size: 10vw;
  }
}
.header_link:hover {
  color: #fff;
  text-decoration: none;
}

header,
footer {
  background-color: #2c5282;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 0;
}

header {
  position: relative;
}
header .sns_icon_area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 960px) {
  header .sns_icon_area {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 15%;
  }
}
@media screen and (max-width: 599px) {
  header .sns_icon_area {
    margin: 20px auto 0;
    width: 50%;
  }
}
header .sns_icon_area .sns_icon {
  width: 30px;
}

footer p {
  margin: 0;
}
