@charset "UTF-8";
/**
 * 全体で使うscss用変数
 */
.top_main_visual {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 960px) {
  .top_main_visual {
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 599px) {
  .top_main_visual {
    padding-bottom: 70%;
  }
}

.shop_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px auto;
  max-width: 90%;
}
@media screen and (max-width: 599px) {
  .shop_list {
    padding: 0;
  }
}
.shop_list .shop_list_item {
  border: 1px solid #000;
  list-style: none;
  margin: 40px 4% 0 0;
  padding: 20px;
  position: relative;
  width: 30%;
}
@media screen and (min-width: 960px) {
  .shop_list .shop_list_item:nth-child(1), .shop_list .shop_list_item:nth-child(2), .shop_list .shop_list_item:nth-child(3) {
    margin-top: 0;
  }
}
@media screen and (max-width: 599px) {
  .shop_list .shop_list_item {
    margin-right: 0;
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .shop_list .shop_list_item:first-child {
    margin-top: 0;
  }
}
.shop_list .shop_list_item:nth-child(3n) {
  margin-right: 0;
}
.shop_list .shop_list_item .shop_image_area {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 70%;
}
.shop_list .shop_list_item .shop_name {
  font-weight: bold;
  margin-top: 20px;
}
@media screen and (min-width: 960px) {
  .shop_list .shop_list_item .shop_name {
    font-size: 32px;
  }
}
@media screen and (max-width: 599px) {
  .shop_list .shop_list_item .shop_name {
    font-size: 8vw;
  }
}
.shop_list .shop_list_item .premium_badge,
.shop_list .shop_list_item .first_appearance_badge {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0%;
  height: 0px;
  border-style: solid;
  border-width: 60px 60px 0 0;
}
.shop_list .shop_list_item .premium_badge {
  border-color: #fffb00 transparent transparent transparent;
}
.shop_list .shop_list_item .first_appearance_badge {
  border-color: #a0ff70 transparent transparent transparent;
}

.modal-body .shop_list {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 0;
}
.modal-body .shop_list .shop_list_item {
  border: none;
  margin: 0;
  width: 100%;
}
